@import "tailwindcss";

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/*@custom-variant dark (&:where(.dark, .dark *));*/

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-brand-500: #5f6fff;
  --color-accent-500: #ff5f5f;
}

canvas.twisterjs-responsive-full {
  width: 100%;
  height: 100%;
  background-color: transparent;
  touch-action: none;
  pointer-events: all;
  display: block;
}