@import "tailwindcss";

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}



canvas.twisterjs-responsive-full {
  width: 100%;
  height: 100%;
  background-color: transparent;
  touch-action: none;
  pointer-events: all;
  display: block;
}